# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# virtual machine crash logs
hs_err_pid*